* {
  padding: 0;
  margin: 0;
}

.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#signInfo {
  text-align: center;
}

.mdl-card__title-text {
  margin: auto;
  color: white;
}

.btn-sign {
  display: inline-block;
  text-align: center;
}
